<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/static/css/style_db.css" />
    <title>MC Agent {{ page_title }}</title>
  </head>
  <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="offcanvasExample">
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="/dashboard">MC Agent</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
          <form class="d-flex ms-auto my-3 my-lg-0">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/myprofile">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">MENU</div>
            </li>
            <li>
              <a href="/dashboard" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/formulir/{{ session.userId }}" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-ui-checks"></i></span>
                <span>Formulir</span>
              </a>
            </li>
            <li>
              <a href="/daftar" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-ui-checks"></i></span>
                <span>Formulir Progress</span>
              </a>
            </li>
            <li>
              <a href="/real_time_database" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-ui-checks"></i></span>
                <span>Real Time Database</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">User</div>
            </li>
            <li>
              <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts">
                <span class="me-2"><i class="bi bi-layout-split"></i></span>
                <span>Account</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="layouts">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="/myprofile" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-person-fill"></i></span>
                      <span>My Profile</span>
                    </a>
                  </li>
                  {% if session ['user']['levelAkses'] == 'admin' %}
                  <li>
                    <a href="/clients" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                      <span>Clients</span>
                    </a>
                  </li>
                  <li>
                    <a href="/agents" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-people-fill"></i></span>
                      <span>Agent</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">Menu Management</div>
            </li>
            <li>
              <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#menuManagement">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Menu Management</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="menuManagement">
                <ul class="navbar-nav ps-3">
                  <li>
                    <!-- TEMPLATE AGENT -->
                    <li>
                      <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#tAgent">
                        <span class="me-2"><i class="bi bi-file-person-fill"></i></span>
                        <span>T Agent</span>
                        <span class="ms-auto">
                          <span class="right-icon">
                            <i class="bi bi-chevron-down"></i>
                          </span>
                        </span>
                      </a>
                      <div class="collapse" id="tAgent">
                        <ul class="navbar-nav ps-3">
                          <li>
                            <a href="#" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-fill"></i></span>
                              <span>Wilayah</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                              <span>Provinsi</span>
                            </a>
                          </li>
                          <li>
                            <a href="/menu" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                              <span>Kota</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <!-- TEMPLATE UMUM -->
                    <li>
                      <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#tUmum">
                        <span class="me-2"><i class="bi bi-book-fill"></i></span>
                        <span>T Umum</span>
                        <span class="ms-auto">
                          <span class="right-icon">
                            <i class="bi bi-chevron-down"></i>
                          </span>
                        </span>
                      </a>
                      <div class="collapse" id="tUmum">
                        <ul class="navbar-nav ps-3">
                          <li>
                            <a href="#" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-fill"></i></span>
                              <span>Wilayah</span>
                            </a>
                          </li>
                          <li>
                            <a href="/wilayah_provinsi" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                              <span>Provinsi</span>
                            </a>
                          </li>
                          <li>
                            <a href="/wilayah_kota" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                              <span>Kota</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <!-- TEMPLATE AKUNTANSI -->
                    <li>
                      <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#tAkuntansi">
                        <span class="me-2"><i class="bi bi-book-fill"></i></span>
                        <span>T Akuntansi</span>
                        <span class="ms-auto">
                          <span class="right-icon">
                            <i class="bi bi-chevron-down"></i>
                          </span>
                        </span>
                      </a>
                      <div class="collapse" id="tAkuntansi">
                        <ul class="navbar-nav ps-3">
                          <li>
                            <a href="#" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-fill"></i></span>
                              <span>Wilayah</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                              <span>Provinsi</span>
                            </a>
                          </li>
                          <li>
                            <a href="/menu" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                              <span>Kota</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <!-- TEMPLATE PAJAK -->
                    <li>
                      <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#tPajak">
                        <span class="me-2"><i class="bi bi-book-fill"></i></span>
                        <span>T Pajak</span>
                        <span class="ms-auto">
                          <span class="right-icon">
                            <i class="bi bi-chevron-down"></i>
                          </span>
                        </span>
                      </a>
                      <div class="collapse" id="tPajak">
                        <ul class="navbar-nav ps-3">
                          <li>
                            <a href="#" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-fill"></i></span>
                              <span>Wilayah</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                              <span>Provinsi</span>
                            </a>
                          </li>
                          <li>
                            <a href="/menu" class="nav-link px-3">
                              <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                              <span>Kota</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </li>
                  <li>
                    <a href="#" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                      <span>Unset</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-people-fill"></i></span>
                      <span>Unset</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">Addons</div>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Charts</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-table"></i></span>
                <span>Table</span>
              </a>
            </li>
          </ul> 
        </nav>
      </div>
    </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>{{ title }}</h4>
          </div>
        </div>
        <div>
          {% block _content %}
          {% endblock %}
        </div>
      </div>
    </main>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="/static/js/jquery-3.5.1.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap5.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
