{% set page_title = '| Clients' %}
{% set title = '' %}
{% extends 'base.html' %}
{% block _content %}
<div class="card">
  <div class="card-header">
    <span><i class="bi bi-table me-2"></i></span> Data Clients
  </div>
  <div class="card-body">
    <div class="container text-center" style="width: 70%;">
      {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="table-responsive">
      <table id="example" class="table table-striped data-table" style="width: 100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>NPWP</th>
            <th>Company</th>
            <th>Address</th>
            <th>Access Level</th>
            <th></th>
          </tr>
        </thead>
        {% for c in data %}
        <tbody>
          <tr>
            <td>{{ c['nama'] }}</td>
            <td>{{ c['npwp'] }}</td>
            <td>{{ c['company'] }}</td>
            <td>{{ c['alamat'] }}</td>
            <td>{{ c['levelAkses'] }}</td>
            <td>
              <div class="row">
                <div class="col-4">
                  <a href="/clients/ubah/{{ c.id }}" class="text-dark"><i class="bi bi-pencil-fill"></i></a>
                </div>
                <div class="col-4">
                  <a href="/clients/lihat/{{ c.id }}" class="text-info"><i class="bi bi-eye-fill"></i></a>
                </div>
                <div class="col-4">
                  <a href="/clients/hapus/{{ c.id }}" class="text-danger"><i class="bi bi-trash-fill"></i></a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        {% endfor %}
        <tfoot>
          <tr>
            <th>Name</th>
            <th>NPWP</th>
            <th>Company</th>
            <th>Address</th>
            <th>Access Level</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock %}