<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" />
  
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
  
  <!-- My CSS -->
  <link rel="stylesheet" href="/static/css/style.css" />
  
  <title>MC Agent V2</title>
</head>
<body>
  
  <!-- navbar -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../static/img/logo/putih.png" alt="mc agent" width="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Projects</a>
        </div>
        <a class="nav-link text-light btn btn-outline-warning ms-auto"><i class="bi bi-box-arrow-in-right"></i> Login</a>
      </div>
    </div>
  </nav> -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/static/img/logo/putih.png" alt="mc agent" width="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/index_new">TENTANG KAMI</a>
          <a class="nav-link" href="#about">PERATURAN</a>
          <a class="nav-link" href="#projects">TANYA JAWAB</a>
          <a class="nav-link" href="#projects">BERITA ACARA</a>
        </div>
        <a class="nav-link text-light btn btn-outline-warning ms-auto" href="/login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
        <!-- <button type="button" class="btn btn-outline-warning ms-auto"><i class="bi bi-power pe-1"></i>Logout</button> -->
      </div>
    </div>
  </nav>
  
  <!-- jumbotron -->
  <div class="jumbotron text-center">
    <img src="../static/img/logo.jpeg" class="img-thumbnail rounded-circle" width="200" alt="" />
    <h1 class="display-4 text-light" style="font-family: 'Mate SC', serif;">Mitra Cemerlang</h1>
    <p class="lead text-light">Tax Consultant</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
      fill="#ffffff"
      fill-opacity="10"
      d="M0,288L48,277.3C96,267,192,245,288,234.7C384,224,480,224,576,234.7C672,245,768,267,864,277.3C960,288,1056,288,1152,288C1248,288,1344,288,1392,288L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </div>
  
  <!-- about -->
  <section id="about">
    <div class="container">
      <div class="row text-center mb-3">
        <div class="col">
          <h2>About Us</h2>
        </div>
      </div>
      <div class="row justify-content-center fs-5 text-center">
        <div class="col-sm col-md-4">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident dolorem, omnis voluptatum inventore consectetur fugiat libero eum assumenda expedita!</p>
        </div>
        <div class="col-sm col-md-4">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia iste beatae, quidem molestiae quibusdam corrupti rem deserunt qui error accusamus soluta odit laudantium culpa facilis.</p>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
      fill="#e2edff"
      fill-opacity="1"
      d="M0,256L48,256C96,256,192,256,288,240C384,224,480,192,576,186.7C672,181,768,203,864,213.3C960,224,1056,224,1152,218.7C1248,213,1344,203,1392,197.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </section>
  
  <!-- projects -->
  <section id="projects">
    <div class="container">
      <div class="row text-center mb-3">
        <div class="col">
          <h2>MC Projects</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm col-md-4 mb-3">
          <div class="card">
            <img src="/static/img/thumbs/1.png" class="card-img-top" alt="projects 1" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-4 mb-3">
          <div class="card">
            <img src="/static/img/thumbs/2.png" class="card-img-top" alt="projects 2" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-4 mb-3">
          <div class="card">
            <img src="/static/img/thumbs/3.png" class="card-img-top" alt="projects 3" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-4 mb-3">
          <div class="card">
            <img src="/static/img/thumbs/4.png" class="card-img-top" alt="projects 4" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-4 mb-3">
          <div class="card">
            <img src="/static/img/thumbs/5.png" class="card-img-top" alt="projects 5" />
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
      fill="#212529"
      fill-opacity="1"
      d="M0,256L48,256C96,256,192,256,288,240C384,224,480,192,576,197.3C672,203,768,245,864,250.7C960,256,1056,224,1152,213.3C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </section>
  
  <!-- <div class="whatsapp">
    <a target="_blank" href="https://wa.me/6287814007077?text=Saya%20ingin%20konsultasi" class="text-success"><i class="bi bi-whatsapp display-3"></i></a>
  </div> -->
  
  <!-- footer -->
  <footer class="bg-dark text-light text-center pb-5">
    <p>Mitra Cemerlang Agent &trade;</p>
  </footer>
  
  <!-- Optional JavaScript; choose one of the two! -->
  
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  --></body>
  </html>
  