{% set page_title = '| Provinsi' %} 
{% set title = 'Ubah Provinsi' %} 
{% extends 'base.html' %} 
{% block _content %}
<div class="container">
  <div class="container text-center" style="width: 70%;">
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <form action="{{ url_for('ubah_provinsi', uid=user.id) }}" method="POST">
    <div class="mb-3">
      <label for="tambahProvinsi" class="form-label">Provinsi</label>
      <input type="text" class="form-control" id="tambahProvinsi" name="tambahProvinsi" value="{{ user.Provinsi }}" required>
    </div>
    <div class="mb-3">
      <label for="kodeProvinsi" class="form-label">Kode</label>
      <input type="text" class="form-control" id="kodeProvinsi" name="kodeProvinsi" value="{{ user.Kode }}" required>
    </div>
    <button type="submit" id="tes" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}